<%= form_for [@maintenance_category, @maintenance_log], :html => {:class => "form-group"} do |f| %>
  <div class="form-group col-auto">
    <%= f.label :date_performed, :class => '' %>
    <%= f.date_select :date_performed, :class => 'form-control' %><br>
    <%= f.label :date_due, :class => '' %>
    <%= f.date_select :date_due, :class => 'form-control' %><br>
  </div>

  <div class="form-group col-auto">
    <%= f.label :tools, :class => '' %>
    <%= f.text_field :tools, :class => 'form-control', :placeholder => "Enter Tools" %>
  </div>

  <div class="form-group col-auto">  
  <%= f.label :cost, :class => '' %>
  <%= f.number_field :cost, :class => 'form-control', :placeholder => "Enter Cost" %>
  </div>

  <div class="form-group col-auto">  
  <%= f.label :notes, :class => '' %>
  <%= f.text_area :notes, :class => 'form-control', :placeholder => "Enter Any Notes" %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>