<div class="col-md-6">
  <h4><%= @maintenance_item.name.pluralize %> Maintenance Categories</h4>
  <div class="list-group list-group-flush">
    <% @maintenance_item.maintenance_categories.each do |category| %>
    <li class="d-flex align-items-start flex-md-row">
      <%= link_to  category.name, maintenance_category_path(category), html_options = {class: 'list-group-item list-group-item-action list-group-item-light'} %>
      <span class="badge badge-danger badge-pill"><%= category.maintenance_logs.count %></span>
    </li>
    <br>
  <% end %>
  </div>
  <br>
  <%= link_to  "Edit Maintenance Item Name", edit_maintenance_item_path(@maintenance_item), html_options = {class: 'badge badge-warning'} %><br>
  <%= link_to  "Add a New Maintenance Category", new_maintenance_item_maintenance_category_path(@maintenance_item), html_options = {class: 'badge badge-primary'} %><br>
</div>